<nav class="breadcrumbs page-width" role="navigation" aria-label="breadcrumbs">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">

        {% case template %}
          {% when 'collection' %}
            <a class="breadcrumbs__link" href="/collections/all-products">Shop</a>
          {% else %}
            <a class="breadcrumbs__link" href="/">Home</a>
          {% endcase %}
      </li>
      
      {% case template %}
        {% when 'product' %}
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="/collections/all-products">Shop</a>
            </li>
            <li class="breadcrumbs__item">
              {% for collection in product.collections %}
                {% if collection.url %}
                  {% if collection.title != "All Products" %}
                    <span>{{ collection.title | link_to: collection.url }}</span>
                    {% break %} <!-- Only show first collection -->
                  {% endif %}
                {%  endif %}
              {% endfor %}
            </li>
            
        {% else %}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
          </li>
      {% endcase %}
    </ol>
  </nav>

