.glide__arrow {
  position: absolute;
  display: block;
  border:none;
  top: 90%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; 
}
.glide__arrow:focus {
  outline: none;
}
.glide__arrow:hover {
  border-color: white;
}
.glide__arrow--left {
  
  right: 5em;
}
.glide__arrow--right {
  right: 2em;
}


.glide__arrow--left:before {
    content: url('https://cdn.shopify.com/s/files/1/0638/9058/7699/files/arrow-dark-prev.svg?v=1741050572');
}
.glide__arrow--right:before {
    content: url('https://cdn.shopify.com/s/files/1/0638/9058/7699/files/arrow-dark-next.svg?v=1741050567');
}





.glide__arrow--disabled {
  opacity: 0.33;
}
.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 2em;
  display: inline-flex;
  list-style: none;
  /*transform: translateX(-50%);*/
}
.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 40px;
  height: 2px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.glide__bullet button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;
  content: url('https://cdn.shopify.com/s/files/1/0638/9058/7699/files/slick-dot.svg?v=1741050504'); 
  text-align: left;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* width: 150px;   */
}

.glide__bullet 


.glide__bullet:focus {
  outline: none;
}
.glide__bullet:hover, .glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}
.glide__bullet--active {
  background-color: white;
}
.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.slider-content {
  display: flex !important;
  flex-direction: row;
  height:100%;
  margin: auto;
  position: relative;
  z-index:99999;
}

.slider-content.contained {
  max-width: 1360px;
}

.slider-column-single {
  flex: 100%;
  display: flex;
  height: 100%;
  position: relative;
  padding-bottom: 45px;
}

.slider-column-left {
  flex: 35%;
  display: flex;   
  padding-bottom: 60px;
}

.slider-column-right {
  flex: 65%;
  padding: 0px;
  height:100%;
}

.slider-column-left-three {
  flex: 33%;
  display: flex;   
}

.slider-column-center-three {
  flex: 33%;
  padding: 0px;
  height:100%;
}

.slider-column-right-three {
  flex: 33%;
  padding: 0px;
  height:100%;
}

.slider-column-content {
  display:inline-block;
  padding:30px;    
  z-index: 99999999;
  max-width:500px;
}

.slider-column-content h1, h3 {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 16px;
}

.slider-content figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.slider-column-content>span:first-child {
  display: inline-block;
  font-size: var(--base-body-secondary-size);
  font-weight: 700;
  height: 32px;
  line-height: 24px;
  padding: 4px 12px;
  margin-bottom: 16px;
}

.slider-disclaimer {
  margin-top: 1rem;
}

.slider-button {
  margin-top: 3rem;
}

.align-top-left {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.align-middle-left {
  justify-content: center;
  align-items: center;
  text-align: left;
}
.align-bottom-left {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: left;
}
.align-top-right {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: right;
}
.align-middle-right {
  justify-content: center;
  align-items: center;
  text-align: right;
}
.align-bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.align-top-center {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
}
.align-middle-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.align-bottom-center {
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.slider-image {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.sticker-image {
  position:absolute;
  top: 25px;
  right: 40px;
  z-index: 1000;
}

.img-top-left {
  object-position: top center !important;
}


@media screen and (min-width: 475px) and (max-width: 1000px) {

  /* .img-top-left {
    object-position: top center !important;
  } */

  .slider-column-left {
    flex: 50%;
  }

  .slider-column-right {
    flex: 50%;
  }

  .slider-column-left-three {
    flex: 50%;
  }

  .slider-column-center-three {
    display:none;
  }

  .slider-column-right-three {
    flex: 50%;
  }

  .sticker-image {
    position:absolute;
    top: 300px;
    right: 40px;
    z-index: 1000;
  }

}

@media screen and (max-width: 474px) {

  .slider-column-content h1, h3 {
    font-size: 34px;
  }

  .slider-column-content .em-spectral {
    font-size: 37px;
  }

  .slider-item {
    height:70vh;
    max-height: 600px;
  }

  .slider-content {
    flex-direction: column-reverse;  
  }

  .slider-column-left {
    flex:100%;
    padding:0px;
  }

  .slider-column-right {
    flex:100%;
    height: 30vh;
  }

  .slider-column-left-three {
    flex: 100%;
  }

  .slider-column-center-three {
    display:none;
  }

  .slider-column-right-three {
    flex: 100%;
    height:30vh;
  }

  .slider-column-content {
    padding: 0px 30px 30px 30px;
    width: 100%;
  }

  .slider-image {
    height: 100%;
  }
  
  .align-top-left, .align-middle-left, .align-bottom-left, .align-top-right, .align-middle-right, .align-bottom-right, .align-top-center, .align-middle-center, .align-bottom-center {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .mobile-one-col {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
  }
  .mobile-full-width{
    justify-content: center;
    align-items: flex-end;
    text-align: center;
  }

  .slider-column-content>span:first-child {
    display: none;
  }
  
  .glide__arrows {
    visibility: hidden;
  }

  .glide__bullets {
    position: absolute;
    z-index: 2;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    list-style: none;
  }

}

@media screen and (max-width: 375px) {

  .slider-column-content h1, h3 {
    font-size: 28px;
  }

  .slider-column-content .em-spectral {
    font-size: 30px;
  }

  .slider-column-content {
    padding:30px;
  }

  .slider-item {
    height:65vh;
    max-height: 600px;
  }

  .slider-column-content > span > p {
    display:none;
  }

  .slick-dots {
    bottom: 15px;
  }
}  

