.glide {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .glide * {
    box-sizing: inherit;
  }
  .glide__track {
    overflow: hidden;
  }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
  }
  .glide__slides--dragging {
    user-select: none;
  }
  .glide__slide {
    width:100%;
    height:60vh;
    margin:0 !important;
    padding:0 !important;
    min-height:415px;
    max-height: 520px;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
  }
  .glide__slide a {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none;
  }
  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none;
  }
  .glide--rtl {
    direction: rtl;
  }
  