
.modal-subscription-dark-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.50);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1002;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    overflow: auto;
}
 
.modal-subscription-dark-overlay.show {
    display:flex;
}

.btn-close-modal {
    align-self: flex-end;
    background-color: black;
    color:#ffffff;
    height: 1.5em;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 16px;
    right: 16px;
    border:none;
}

.confirmation-text {
    font-size: 1.2rem;
    font-weight: 500;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none; /* Initially hide the error message */
}

.form-title-thankyou {
    font-size: 1.8rem;
    line-height: 1;
    padding-top: 0.5rem
}

.image-container {
    background-position: center;
    background-image: url('https://cdn.shopify.com/s/files/1/0638/9058/7699/files/subscription-modal-image.jpg?v=1742279419');
    width: 434px;
    height: 527px;

}

.subscription-form-container {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    position: relative;
    color: #fff;
    width: 70%;
    max-width:1064px;
    height:527px;
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 1s, transform 1s;
}

.subscription-form-container.fade {
    opacity: 1;
    transform: translateY(0);
}

.subscription-form-container .btn-close-modal {
    cursor:pointer;
}

.subscription-form-container-thankyou {
    display: flex;
    position: relative;
    color: #fff;
    height: 527px;
    width: 90vw;
    max-width:650px;
}

.subscription-form-actual {
    color: #512c1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width:630px;
    padding: 48px;
}

.subscription-form-actual h2 {
    margin-bottom: 24px;
}

.subscription-form-actual a, .subscription-form-actual a:hover, .subscription-form-actual a:active {
    color: rgba(0, 0, 0, 0.50);
}

.subsmodal-intro {
    margin-bottom: 32px;
}

.field__input {
    border:1px solid #DADADA !important;
}

.subscription-form-actual label {
    font-size: 14px;
}

.subscription-form-actual .field {
    margin-bottom: 2rem;
}
.close-icon {
    width: 48px;
    height: 48px;
}

.submodal-button {
    padding-left: 20px;
}

.nothanks {
    font-family: "Museo Sans 500";
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width:1200px) {
    .subscription-form-actual {
        padding: 48px 24px 60px 24px;
        
    }
    
}

@media (max-width: 850px) {

    .subscription-form-actual {
        padding: 48px 24px 24px 24px;
        max-width: 100%;
    }

    .modal-subscription-dark-overlay {
        align-items: center;      
    }
    
    .subscription-form-container {
        flex-direction: column-reverse; /* Stack vertically on mobile */
        width: 90%;        
    }
       
    .image-container {
        display: none;
        min-height:160px;
        width:100%;
        background-size: cover;
        background-image: url('https://cdn.shopify.com/s/files/1/0638/9058/7699/files/subscription-modal-image-mobile.jpg?v=1742361079');
    }

    .close-icon path {
        stroke:white;
    }

    .caption {
        font-size: 1.2rem;
    }
    
}

@media (max-width: 500px) {
    .form-title {
        font-size: 2rem;
        line-height: 1;
    }

    .form-title-thankyou {
        font-size: 2rem;
        line-height: 1.2;
    }

    .form-title-spectral {	
        font-size: 2.4rem; 
    }

}
